################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Encryption-Algorithm/v16
/AES Algorithm/Debug/AES Algorithm.tlog
/AES Algorithm/Debug
/TEA Algorithm/Debug/TEA Algorithm.tlog
/TEA Algorithm/Debug
/AES Algorithm/Release
/TEA Algorithm/Release
/Salsa20 Algorithm/Debug/Salsa20 .18b26edf.tlog
/Salsa20 Algorithm/Debug
/Debug
/ROT13-47/x64/Release
/RC4 Algorithm/x64/Release
/x64/Release
/base16-64/x64/Release
