################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Encryption-Algorithm/v16
/AES Algorithm/Debug/AES Algorithm.tlog
/AES Algorithm/Debug
/TEA Algorithm/Debug/TEA Algorithm.tlog
/TEA Algorithm/Debug
/AES Algorithm/Release
/TEA Algorithm/Release
